
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
header {
  background-image: url('../img/heading_opm_mp.jpg');
  background-size: cover;
	background-position: center;
	height:300px;
}
.title{
  
}
nav {
  width: 250px;
  height: 100%;
  background-color: #a32638;
  position: relative;
  padding: 20px 0;
}

nav h2 {
  color: white;
  padding: 50px 16px 0;
  padding: 1.5rem 1rem 0;
}

li {
  border-top: 1px solid rgba(0,0,0,0.2);
  list-style: none;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}

li:hover {
  background-color: #9a989a;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 16px;
  padding: 16px;
  display: block;
}

nav li:first-child {
  margin-top: 2em;
}

H1{
  font-family:'Oswald';
  font-size:48px;
  line-height:48px;
  font-weight:700;
  letter-spacing:2px
  color:#gray;
  text-align:center;
}

H2{
  font-family:'Oswald';
  font-size:32px;
  line-height:40px;
  font-weight:300;
  color:#434343;
  text-decoration-line:
}
H6{
  font-family:'lato';
  font-size:16px;
  line-height:20px;
  font-weight:400;
  color:black;
}
.button1{

}
.overview{
  /* padding
  margin
  boarder */
}

.left-field-items {
  /*display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap:20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;*/
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
.imagebox{
  background-image:url();
}
